**/bin
**/obj

**/.vs
**/.vscode
**/.idea
**/*.user

**/.git
**/.gitignore

**/docker-compose*
**/Dockerfile*
**/.dockerignore

**/*.db
**/*.db-shm
**/*.db-wal

**/appsettings.Development.json
**/secrets.json

**/logs

**/node_modules
**/npm-debug.log

LICENSE
README.md
**/.env
